<html>
<head>
    <title>Get a token</title>
</head>
<body>
        <form method=POST name=loginform}}>
        {{ form.csrf_token }}
        <div>{{ form.username.label }}
        {{ form.username }}</div>
        <div>{{ form.password.label }}
        {{ form.password }}</div>
        <input type="submit" value="submit">
</body>
</html>
