<html>
<head>
    <title>Register for this service or login</title>
</head>
<body>
    <form method=POST action="{{ url_for('api_register') }}">
        {{ form.csrf_token }}
        <div>{{ form.username.label }}
        {{ form.username }}</div>
        <div>{{ form.password.label }}
        {{ form.password }}</div>
        <div> {{ form.remember.label }} {{ form.remember() }}</div>
        <input type="submit" value="submit">
</body>
</html>
